* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}


body {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 90px 20px 0;

}


.header {


    background-color: rgb(107, 83, 179);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

}


.nav {

    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;

}


.nav-link {

    color: white;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(223, 230, 236);
    letter-spacing: 5px;

}

.nav-menu {

    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {

    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;

}

.nav-menu-link {

    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {

    transition: 0.5s;
}

.nav-toggle {

    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;

}

@media (max-width: 768px) {

    body {
        padding-top: 70px;
    }


    .header {
        height: 60px;
    }


    .logo {
        font-size: 25px;
        padding: 0 40px;
        line-height: 60px;
    }

    .nav-menu {

        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: rgb(213, 213, 235);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;

    }

    .nav-menu-item {
        line-height: 70px;
    }


    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: rgb(49, 47, 43);
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0%;
    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }

}

main{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.title{
    text-align: center;
    margin-top: 60px;
}

.container-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    width: 250px;
    height: 310px;
    margin: 10px;
    padding: 20px;
    border: 2px solid #eeeeee;
    border-radius: 14px;
    text-align: center;
    margin-top: 100px;
    position: relative;

}

.box img{
    width: 60%;
    transition: all 400ms;
}

.box h2{
    font-size: 16px;
    margin-top: 10px;
    transition: all 500ms;
}

.box .container-p{
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    padding: 0px 10px;
    border-radius: 0px 0px 14px 14px;
}

.box p{
    font-size: 14px;
    color: #030303;
    opacity: 0;
    transform: translateY(150px);
    transition: all 600ms;
}

.box .check{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #93abee;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background: rgb(218, 209, 236);
}

.box .check i{
    margin-top: 6px;
    display: none;
    color: rgb(230, 204, 204)
    
}

/*Efecto Hover*/


.box:hover{
    background: #fbfbfe;
}

.box:hover img{
    transform: translateY(-90px);
}

.box:hover h2{
    transform: translateY(-90px);
}

.box:hover .container-p p{
    transform: translateY(0px);
    opacity: 1;
}


/*Clases que estaremos utilizando en JavaScript*/

.box-selected{
    border-color: red;
    transition: all 600ms;
}

.icon-check{
    display: block !important;
}

.check-selected{
    background: red !important;
    border: none;
    transition: all 600ms;
}
